<h1>Sign Up Below:</h1>



<form method="post" action="/registrations">

  <input type="text" id="name" name="name">

  <input type="text" id="content" name="email">
  
    <input type="text" id="content" name="password">

  
  <input type="submit" value="submit">
</form>

